@page
@model IndexModel
@{
    ViewData["Title"] = "Home page";
}

<body class="bodyIndex">
    <div class="background">
        <img src="img/indexBackground.jpg" alt="background picture" class="backgroundimg">
        <h1 class="motto"> Delirium reviews, so good that you lose your mind</h1>
        <a href="#" class="getStartedbtn">Get started now!</a>
    </div>

</body>
   
    
   
