@page
@model Web_app.Pages.MediaModel
@{
}
<b>Media:</b>
<div class="cards-grid">
        @foreach (var media in Model.media)
        {

        <a href="/MediaDetails?id=@media.Id" class="cards-grid-item" style="background: url('../img/mock img.jpg') ">
            <h1>Title: @media.Title</h1>
            <p>Actor: @media.Actor</p>
            <p>Director: @media.Director</p>
        </a>
         
        }
   
</div>