@page
@model Web_app.Pages.MediaModel
@{
}
<div>
    <b>Media:</b>
</div>

<div class="cards-grid">
    @foreach (var mediaDTO in Model.media)
    {
        <a href="/MediaDetails?id=@mediaDTO.Id" class="review-card text-decoration-none">
            <div class="card-bg" style="background-image: url('../img/mock img.jpg');"></div>
            <div class="card-content">
                <h2>Title: @mediaDTO.Title</h2>
                <p>Actor: @mediaDTO.Actor</p>
                <p>Director: @mediaDTO.Director</p>
            </div>
        </a>
       
    }
</div>