@page
@model Web_app.Pages.MediaDetailsModel
@{
}

<div>
    <h1>Title:@Model.mediaDTO.Title</h1>
    <h2 class="Genre">Genre: @Model.mediaDTO.Genre Star:@Model.mediaDTO.Actor,Director: @Model.mediaDTO.Director</h2>

</div>
<div class="details-container">

    <img src="/img/mockdetails.jpg" alt="mock-image">
    <p> Description: @Model.mediaDTO.Description</p>
    
</div>