@page
@model Web_app.Pages.MediaDetailsModel
@{
}

<div>
    <h1>Title:@Model.media.Title</h1>
    <h2 class="Genre">Genre: @Model.media.Genre Star:@Model.media.Actor,Director: @Model.media.Director</h2>

</div>
<div class="details-container">

    <img src="/img/mockdetails.jpg" alt="mock-image">
    <p> Description: @Model.media.Description</p>
    
</div>