@page
@model Web_app.Pages.MediaModel
@{
}
<b>Media:</b>
<div class="cards-grid">
        @foreach (var mediaDTO in Model.media)
        {

        <a href="/MediaDetails?id=@mediaDTO.Id" class="cards-grid-item" style="background: url('../img/mock img.jpg') ">
            <h1>Title: @mediaDTO.Title</h1>
            <p>Actor: @mediaDTO.Actor</p>
            <p>Director: @mediaDTO.Director</p>
        </a>
         
        }
   
</div>