@page
@model Web_app.Pages.ProfilePageModel
@{
}
<body>

    @if (Model.userProfile != null)
    {
        <div class="container mt-5">
            <div class="row justify-content-center">
                <div class="col-md-6">
                    <div class="card">
                        <div class="card-body">
                            <h1 class="card-title">Welcome to your profile page</h1>
                            <div class="details-container">
                                <p class="card-text">First Name: @Model.userProfile.firstName</p>
                                <p class="card-text">Last Name: @Model.userProfile.lastName</p>
                                <p class="card-text">Email: @Model.userProfile.email</p>
                                <form method="post" action="UpdatePreferences">
                                    <label>
                                        <input type="checkbox" name="MinuteNewsletterPreference" value="minute">
                                        Receive minute newsletters
                                    </label>
                                    <br />
                                    <label>
                                        <input type="checkbox" name="DailyNewsletterPreference" value="day">
                                        Receive daily newsletters
                                    </label>
                                    <br />
                                    <label>
                                        <input type="checkbox" name="WeeklyNewsletterPreference" value="week">
                                        Receive weekly newsletters
                                    </label>
                                    <br />
                                    <input type="submit" value="Save Preferences">
                                </form>
                                
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    }


</body>