@page
@model Web_app.Pages.RegisterModel
@{
}
<div class="container border" style="padding:20px">
    <form method="post">
        <div class="text-danger" asp-validation-summary="ModelOnly"></div>
        <div class="form-group row">
            <div class="col-2">
                <label asp-for="User.Username"></label>
            </div>
            <div class="col-5">
                <input type="text" asp-for="User.Username" class="form-control" />

            </div>
            <span class="text-danger" asp-validation-for="User.Username"></span>
        </div>
        <div class="form-group row">
            <div class="col-2">
                <label asp-for="User.PasswordHash"></label>
            </div>
            <div class="col-5">
                <input type="password" asp-for="User.PasswordHash" class="form-control" />
                <span class="text-danger" asp-validation-for="User.PasswordHash"></span>
            </div>
        </div>
        <div class="form-group row">
            <div class="col-2">
                <input type="submit" class="btn-primary" value="Register" />
            </div>
            <div class="col-5">
            </div>
        </div>
    </form>
</div>
@if (TempData["SuccessMessage"] != null)
{
    <div class="alert alert-success">
        <p>@TempData["SuccessMessage"]</p>
    </div>
}
@if (TempData["ErrorMessage"] != null)
{
    <div class="alert alert-danger">
        @TempData["ErrorMessage"]
    </div>
}