@page
@model Web_app.Pages.ReviewModel
@{
}
@if (!string.IsNullOrEmpty(Model.Message))
{
    <p>@Model.Message</p>
}
<b>Reviews:</b>

    
        <div class="cards-grid">
        @foreach (var review in Model.reviews)
        {

        <a href="/ReviewDetails?id=@review.Id" class="cards-grid-item" style="background: url('../img/mock img.jpg') ">
                    <h1>Title: @review.Title</h1>
            <p>Score: @review.Score</p>
        </a>
         
        }
   
        </div>
    




