@page
@model Web_app.Pages.ReviewDetailsModel
@{
}
<b>Review details:</b>{
<div>
    Review:
    <span>Id: @Model.review.Id</span>
    <span>Title: @Model.review.Title</span>
    <span>Score: @Model.review.Score</span>
    <span>Description: @Model.review.Description</span>

</div>